<div class="about-header">
	<h1>Gift Creator</h1>
</div>	
<br /><br />

<div class="row-fluid">
<div class="span6">

<p>Sign up to become a gift-creator</p>

<p class="pull-right"><%= link_to 'Become gift creator', new_gift_creator_registration_path, :class => 'btn' %></p>
</div>

<div class="span6">

</div>
</div>