<div class="jevoudrais-table-header">
<h2>Gifts for <%= @user.name %></h2>
<br />
</div>
<table class="table">
<tbody>
<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.name %></td>
    <td><%= link_to 'Show', gift %></td>
  </tr>
<% end %>
</tbody>
</table>