<br />
<br />
<br />
<br />
<div class="jevoudrais-header">
	<h1>jevoudrais</h1>
	<br />
	<br />
	<br />
	<br /> 
	<p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :'data-no-turbolink' => true %></p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<p class="pull-right"><%= link_to 'About', about_path %> | <%= link_to 'Register as gift creator', gift_creator_path %> | Created by <a href="http://olesennielsen.dk">Olesen & Nielsen</a></p>

