<% if user_signed_in? %>
  <p class="pull-right">&nbsp;&nbsp;<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></p>
	<% if (params[:controller] == 'home' and params[:action] == 'index' ) %>
		<% unless @notifications.empty? %>
			
		<% end %>
		<p id='notifications'><a href="#notificationModal" role="button" class="pull-right" data-toggle="modal"><%= @notifications.count %> notifications</a></p>
	<% else %>
		<p class="pull-right"><%= link_to 'Back', root_path, :'data-no-turbolink' => true %>&nbsp;&nbsp;</p>
	<% end %>
<% else %>
	<% unless (params[:controller] == 'home' and params[:action] == 'new' ) %>
		<p class="pull-right"><%= link_to 'Back', root_path, :'data-no-turbolink' => true %></p>
	<% end %>
<% end %>
<br />